price_genos.snmfProject
.DS_Store
price_genos.snmf/K1/run1/price_genos_r1.1.G
price_genos.snmf/K1/run1/price_genos_r1.1.Q
price_genos.snmf/K1/run1/price_genos_r1.1.snmfClass
price_genos.snmf/K1/run10/price_genos_r10.1.G
price_genos.snmf/K1/run10/price_genos_r10.1.Q
price_genos.snmf/K1/run10/price_genos_r10.1.snmfClass
price_genos.snmf/K1/run2/price_genos_r2.1.G
price_genos.snmf/K1/run2/price_genos_r2.1.Q
price_genos.snmf/K1/run2/price_genos_r2.1.snmfClass
price_genos.snmf/K1/run3/price_genos_r3.1.G
price_genos.snmf/K1/run3/price_genos_r3.1.Q
price_genos.snmf/K1/run3/price_genos_r3.1.snmfClass
price_genos.snmf/K1/run4/price_genos_r4.1.G
price_genos.snmf/K1/run4/price_genos_r4.1.Q
price_genos.snmf/K1/run4/price_genos_r4.1.snmfClass
price_genos.snmf/K1/run5/price_genos_r5.1.G
price_genos.snmf/K1/run5/price_genos_r5.1.Q
price_genos.snmf/K1/run5/price_genos_r5.1.snmfClass
price_genos.snmf/K1/run6/price_genos_r6.1.G
price_genos.snmf/K1/run6/price_genos_r6.1.Q
price_genos.snmf/K1/run6/price_genos_r6.1.snmfClass
price_genos.snmf/K1/run7/price_genos_r7.1.G
price_genos.snmf/K1/run7/price_genos_r7.1.Q
price_genos.snmf/K1/run7/price_genos_r7.1.snmfClass
price_genos.snmf/K1/run8/price_genos_r8.1.G
price_genos.snmf/K1/run8/price_genos_r8.1.Q
price_genos.snmf/K1/run8/price_genos_r8.1.snmfClass
price_genos.snmf/K1/run9/price_genos_r9.1.G
price_genos.snmf/K1/run9/price_genos_r9.1.Q
price_genos.snmf/K1/run9/price_genos_r9.1.snmfClass
price_genos.snmf/K2/run1/price_genos_r1.2.G
price_genos.snmf/K2/run1/price_genos_r1.2.Q
price_genos.snmf/K2/run1/price_genos_r1.2.snmfClass
price_genos.snmf/K2/run10/price_genos_r10.2.G
price_genos.snmf/K2/run10/price_genos_r10.2.Q
price_genos.snmf/K2/run10/price_genos_r10.2.snmfClass
price_genos.snmf/K2/run2/price_genos_r2.2.G
price_genos.snmf/K2/run2/price_genos_r2.2.Q
price_genos.snmf/K2/run2/price_genos_r2.2.snmfClass
price_genos.snmf/K2/run3/price_genos_r3.2.G
price_genos.snmf/K2/run3/price_genos_r3.2.Q
price_genos.snmf/K2/run3/price_genos_r3.2.snmfClass
price_genos.snmf/K2/run4/price_genos_r4.2.G
price_genos.snmf/K2/run4/price_genos_r4.2.Q
price_genos.snmf/K2/run4/price_genos_r4.2.snmfClass
price_genos.snmf/K2/run5/price_genos_r5.2.G
price_genos.snmf/K2/run5/price_genos_r5.2.Q
price_genos.snmf/K2/run5/price_genos_r5.2.snmfClass
price_genos.snmf/K2/run6/price_genos_r6.2.G
price_genos.snmf/K2/run6/price_genos_r6.2.Q
price_genos.snmf/K2/run6/price_genos_r6.2.snmfClass
price_genos.snmf/K2/run7/price_genos_r7.2.G
price_genos.snmf/K2/run7/price_genos_r7.2.Q
price_genos.snmf/K2/run7/price_genos_r7.2.snmfClass
price_genos.snmf/K2/run8/price_genos_r8.2.G
price_genos.snmf/K2/run8/price_genos_r8.2.Q
price_genos.snmf/K2/run8/price_genos_r8.2.snmfClass
price_genos.snmf/K2/run9/price_genos_r9.2.G
price_genos.snmf/K2/run9/price_genos_r9.2.Q
price_genos.snmf/K2/run9/price_genos_r9.2.snmfClass
price_genos.snmf/K3/run1/price_genos_r1.3.G
price_genos.snmf/K3/run1/price_genos_r1.3.Q
price_genos.snmf/K3/run1/price_genos_r1.3.snmfClass
price_genos.snmf/K3/run10/price_genos_r10.3.G
price_genos.snmf/K3/run10/price_genos_r10.3.Q
price_genos.snmf/K3/run10/price_genos_r10.3.snmfClass
price_genos.snmf/K3/run2/price_genos_r2.3.G
price_genos.snmf/K3/run2/price_genos_r2.3.Q
price_genos.snmf/K3/run2/price_genos_r2.3.snmfClass
price_genos.snmf/K3/run3/price_genos_r3.3.G
price_genos.snmf/K3/run3/price_genos_r3.3.Q
price_genos.snmf/K3/run3/price_genos_r3.3.snmfClass
price_genos.snmf/K3/run4/price_genos_r4.3.G
price_genos.snmf/K3/run4/price_genos_r4.3.Q
price_genos.snmf/K3/run4/price_genos_r4.3.snmfClass
price_genos.snmf/K3/run5/price_genos_r5.3.G
price_genos.snmf/K3/run5/price_genos_r5.3.Q
price_genos.snmf/K3/run5/price_genos_r5.3.snmfClass
price_genos.snmf/K3/run6/price_genos_r6.3.G
price_genos.snmf/K3/run6/price_genos_r6.3.Q
price_genos.snmf/K3/run6/price_genos_r6.3.snmfClass
price_genos.snmf/K3/run7/price_genos_r7.3.G
price_genos.snmf/K3/run7/price_genos_r7.3.Q
price_genos.snmf/K3/run7/price_genos_r7.3.snmfClass
price_genos.snmf/K3/run8/price_genos_r8.3.G
price_genos.snmf/K3/run8/price_genos_r8.3.Q
price_genos.snmf/K3/run8/price_genos_r8.3.snmfClass
price_genos.snmf/K3/run9/price_genos_r9.3.G
price_genos.snmf/K3/run9/price_genos_r9.3.Q
price_genos.snmf/K3/run9/price_genos_r9.3.snmfClass
price_genos.snmf/K4/run1/price_genos_r1.4.G
price_genos.snmf/K4/run1/price_genos_r1.4.Q
price_genos.snmf/K4/run1/price_genos_r1.4.snmfClass
price_genos.snmf/K4/run10/price_genos_r10.4.G
price_genos.snmf/K4/run10/price_genos_r10.4.Q
price_genos.snmf/K4/run10/price_genos_r10.4.snmfClass
price_genos.snmf/K4/run2/price_genos_r2.4.G
price_genos.snmf/K4/run2/price_genos_r2.4.Q
price_genos.snmf/K4/run2/price_genos_r2.4.snmfClass
price_genos.snmf/K4/run3/price_genos_r3.4.G
price_genos.snmf/K4/run3/price_genos_r3.4.Q
price_genos.snmf/K4/run3/price_genos_r3.4.snmfClass
price_genos.snmf/K4/run4/price_genos_r4.4.G
price_genos.snmf/K4/run4/price_genos_r4.4.Q
price_genos.snmf/K4/run4/price_genos_r4.4.snmfClass
price_genos.snmf/K4/run5/price_genos_r5.4.G
price_genos.snmf/K4/run5/price_genos_r5.4.Q
price_genos.snmf/K4/run5/price_genos_r5.4.snmfClass
price_genos.snmf/K4/run6/price_genos_r6.4.G
price_genos.snmf/K4/run6/price_genos_r6.4.Q
price_genos.snmf/K4/run6/price_genos_r6.4.snmfClass
price_genos.snmf/K4/run7/price_genos_r7.4.G
price_genos.snmf/K4/run7/price_genos_r7.4.Q
price_genos.snmf/K4/run7/price_genos_r7.4.snmfClass
price_genos.snmf/K4/run8/price_genos_r8.4.G
price_genos.snmf/K4/run8/price_genos_r8.4.Q
price_genos.snmf/K4/run8/price_genos_r8.4.snmfClass
price_genos.snmf/K4/run9/price_genos_r9.4.G
price_genos.snmf/K4/run9/price_genos_r9.4.Q
price_genos.snmf/K4/run9/price_genos_r9.4.snmfClass
price_genos.snmf/K5/run1/price_genos_r1.5.G
price_genos.snmf/K5/run1/price_genos_r1.5.Q
price_genos.snmf/K5/run1/price_genos_r1.5.snmfClass
price_genos.snmf/K5/run10/price_genos_r10.5.G
price_genos.snmf/K5/run10/price_genos_r10.5.Q
price_genos.snmf/K5/run10/price_genos_r10.5.snmfClass
price_genos.snmf/K5/run2/price_genos_r2.5.G
price_genos.snmf/K5/run2/price_genos_r2.5.Q
price_genos.snmf/K5/run2/price_genos_r2.5.snmfClass
price_genos.snmf/K5/run3/price_genos_r3.5.G
price_genos.snmf/K5/run3/price_genos_r3.5.Q
price_genos.snmf/K5/run3/price_genos_r3.5.snmfClass
price_genos.snmf/K5/run4/price_genos_r4.5.G
price_genos.snmf/K5/run4/price_genos_r4.5.Q
price_genos.snmf/K5/run4/price_genos_r4.5.snmfClass
price_genos.snmf/K5/run5/price_genos_r5.5.G
price_genos.snmf/K5/run5/price_genos_r5.5.Q
price_genos.snmf/K5/run5/price_genos_r5.5.snmfClass
price_genos.snmf/K5/run6/price_genos_r6.5.G
price_genos.snmf/K5/run6/price_genos_r6.5.Q
price_genos.snmf/K5/run6/price_genos_r6.5.snmfClass
price_genos.snmf/K5/run7/price_genos_r7.5.G
price_genos.snmf/K5/run7/price_genos_r7.5.Q
price_genos.snmf/K5/run7/price_genos_r7.5.snmfClass
price_genos.snmf/K5/run8/price_genos_r8.5.G
price_genos.snmf/K5/run8/price_genos_r8.5.Q
price_genos.snmf/K5/run8/price_genos_r8.5.snmfClass
price_genos.snmf/K5/run9/price_genos_r9.5.G
price_genos.snmf/K5/run9/price_genos_r9.5.Q
price_genos.snmf/K5/run9/price_genos_r9.5.snmfClass
price_genos.snmf/masked/price_genos_I.geno
